<% layout('./layouts/boilerplate') -%>
<h1>Yelpcamp</h1>

<% layout('./layouts/boilerplate') -%>
<h1>Campgrounds</h1>
	<% for( let index= campgrounds.length - 1; index >= 0; index-- ) { %>
		<article class="card mb-3">
			<div class="row">
				<img src="<%= campgrounds[index].image %>" class="card-img-top img-fluid col-4 col-sm" style="min-width: 14rem; max-height: 18rem; object-fit: cover;"
					alt="..." />
				<div class="card-body col-8 col-sm">
					<h5 class="card-title">
						<%= campgrounds[index].title %>
					</h5>
					<p class="card-text">
						<%= campgrounds[index].description %>
					</p>
					<p class="card-text text-muted">
						<small><%= campgrounds[index].location %></small>
					</p>
					<a href="/campgrounds/<%= campgrounds[index]._id %> " class="btn btn-primary">Show</a>
				
				</div>
			</div>
		</article>
		<% } %>
