<%- include('../partials/top')  %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <form action="/campgrounds/<%= campground._id %>?_method=PATCH" method="POST" class="col-6 offset-3">
            <div class="mb-3">
                <label for="title" class="form-label">Title: </label>
                <input type="text" name="title" id="title" placeholder="Enter the title..." class="form-control" value="<%= campground.title %> ">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description: </label>
                <input type="text" name="description" id="description" placeholder="Enter about campground..." class="form-control" value="<%= campground.description %>">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location: </label>
                <input type="text" name="location" id="location" placeholder="Enter location of Campground..." class="form-control" value="<%= campground.location %>">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price: </label>
                <input type="text" name="price" id="price" placeholder="How much does the campground cost ?" class="form-control" value="<%= campground.price %>">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL: </label>
                <input type="text" name="image" id="image" placeholder="Image Link" class="form-control" value="<%= campground.image %>">
            </div>
            <button class="btn btn-success">Update</button>
        </form>
    </div>
<%- include('../partials/bottom')  %>