<% layout('./layouts/boilerplate') -%>
    <section class="row">
        <div class="col-12">
            <h1><%= campground.title %></h1>
            <article class="card">
                <figure>
                    <img src="<%= campground.image %>" alt="" class="card-img-top" style="width: auto-fit; max-height: 24rem;  object-fit: cover;">
                    <!-- <figcaption></figcaption> -->
                </figure>
                <div class="card-body">
                    <p class="card-text"><%= campground.title %></p>
                    <p class="card-text"><small class="text-muted"><%= campground.location %> </small></p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">$<%= campground.price %>/per night</li>
                <li class="list-group-item"><%= campground.description %></li>
                </ul>  
                <div class="card-body">
                    <a href="/campgrounds/edit/<%= campground._id %>" class="btn btn-primary">Edit</a>
                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer d-flex">
                    <p class="text-muted small">4 days ago</p>
                </div>
            </article>
        </div>
    </section>