<%- include('../partials/top')  %>
    <h1>Title: <%= campground.title %></h1>
    <article>
        <pre>
            Location: <%= campground.location %> 
            Title: <%= campground.title %>
        </pre> 
    </article>
<%- include('../partials/bottom')  %>