<%- include('../partials/top')  %>
    <h1><%= campground.title %></h1>
    <small class="text-muted"><%= campground.location %> </small>
    <article>
        <figure>
            <img src="<%= campground.image %>" alt="">
            <figcaption><%= campground.title %></figcaption>
        </figure>
        <p><%= campground.description %></p>
        <p>Book <%= campground.title %> for <b>$<%= campground.price %></b>
        </p>
    </article>
<%- include('../partials/bottom')  %>